<app-nav-bar></app-nav-bar>

<button class="btn btn-primary" (click)="tablaProducto()">TABLA / PRODUCTO</button>

<!-- TABLA / PRODUCTOS -->
<div *ngIf="temp; else mostrarProd">
    <app-tabla></app-tabla>
</div>
<!-- Ventana productos -->
<ng-template #mostrarProd>
    <app-productos></app-productos>
</ng-template>


<router-outlet></router-outlet>


<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>